<%- include("template/cabecera", {tituloWeb: 'Detalle de Mascota'}) %>

<div class="container">
    <h1>Detalle Mascota</h1>
    <% if (error) { %>
    <p><%= mensaje %></p>
    <a href="/mascotas" class="btn btn-dark btn-block"> Volver a Mascotas </a>
    <% } %> <% if (!error) { %>
    <div
        id="mensaje"
        class="alert alert-danger text-center"
        style="display: none"
    ></div>
    <form id="formularioEditar" data-id="<%= mascota.id %>">
        <input
            type="text"
            class="form-control my-2"
            name="nombre"
            id="nombreInput"
            value="<%= mascota.nombre %>"
        />
        <input
            type="text"
            class="form-control my-2"
            name="descripcion"
            id="descripcionInput"
            value="<%= mascota.descripcion %>"
        />
        <button
            class="btn btn-warning btn-block mt-1 text-center"
            type="submit"
        >
            Editar
        </button>
    </form>
    <hr />
    <div class="text-center">
        <button
            class="btn btn-danger btn-sm p-2"
            id="btnEliminar"
            data-id="<%= mascota.id %>"
        >
            Eliminar
        </button>
    </div>

    <% } %>
</div>

<%- include("template/footer") %>
<script>
    const btnEliminar = document.querySelector("#btnEliminar");
    const mensajeDiv = document.querySelector("#mensaje");
    btnEliminar.addEventListener("click", async () => {
        const id = btnEliminar.dataset.id;
        const confirmacion = confirm(
            "¿Estás seguro de que deseas eliminar esta mascota?"
        );
        if (!confirmacion) return;
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: "DELETE",
            });
            const res = await data.json();


            console.log(res);

            if(estado){
                mensajeDiv.classList.remove("alert-success", "d-none");
            mensajeDiv.classList.add("alert-danger", "d-block");
            mensajeDiv.textContent = res.mensaje;

            setTimeout(() => {
                window.location.href = "/mascotas"; // Redirigir después de 3 segundos
            }, 2000);
            }else{
                alert("Error al editar la mascota. Intenta de nuevo.");
            }
            
        } catch (error) {
            console.log(error);
            alert(
                "Ocurrió un error inesperado. Por favor, inténtalo de nuevo."
            );
        }
    });

    const formularioEditar = document.querySelector("#formularioEditar");
    formularioEditar.addEventListener("submit", async (e) => {
        e.preventDefault();
        const nombre = document.querySelector("#nombreInput").value;
        const descripcion = document.querySelector("#descripcionInput").value;
        const id = formularioEditar.dataset.id;
        //console.log(nombre,descripcion,id)

        if (!nombre || !descripcion) {
            alert("Por favor, llena todos los campos.");
            return;
        }
        try {
            const data = await fetch(`/mascotas/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ nombre, descripcion }),
            });
            const res = await data.json();
            console.log(res);

            if (res.estado) {
                // Limpiar clases anteriores y agregar mensaje de éxito
                mensajeDiv.classList.remove("alert-danger", "d-none");
                mensajeDiv.classList.add("alert-primary", "d-block");
                mensajeDiv.textContent = res.mensaje;

                setTimeout(() => {
                    window.location.href = "/mascotas"; // Redirigir después de 3 segundos
                }, 2000);  
            } else {
                alert("Error al editar la mascota. Intenta de nuevo.");
            }
        } catch (error) {
            console.log(error);
            alert("Hubo un error inesperado");
        }
    });
</script>
