<%- include("template/cabecera", {tituloWeb: 'Página de inicio'}) %>

<div class="container">
    <h1 class="text-center">CRUD Mongo</h1>

    <% if (mensaje) { %>
    <div id="mensajeAlerta" class="alert alert-success text-center">
        <%= mensaje %>
    </div>

    <% } %>

    <div class="d-grid gap-2">
        <a class="btn btn-success btn-block my-4" href="/mascotas/crear">
            Crear nueva Mascota
        </a>
    </div>

    <table class="table">
        <thead>
            <tr class="text-center">
                <!-- <th scope="col">ID</th>  -->
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col" class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayMascotasDB.length > 0) { %> <%
            arrayMascotasDB.forEach(mascota => { %>

            <tr class="text-center">
                <!-- <th scope="row"><%= mascota.id %></th>  -->

                <td><%= mascota.nombre %></td>
                <td><%= mascota.descripcion %></td>
                <td>
                    <a
                        href="mascotas/<%= mascota.id %>"
                        class="btn btn-warning btn-sm text-white"
                        >Editar</a
                    >
                </td>
            </tr>

            <% }) %> <% } %>
        </tbody>
    </table>
</div>

<%- include("template/footer") %>
<script>
    setTimeout(() => {
        const alerta = document.getElementById("mensajeAlerta");
        if (alerta) {
            alerta.style.transition = "opacity 0.5s";
            alerta.style.opacity = "0";
            setTimeout(() => alerta.remove(), 500);
        }

        window.location.href = "/mascotas";
    }, 3000);
</script>
